nav {
  padding: 1.5% 3%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(237, 5, 5, 0.1);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left .menu-icon {
  width: 25px;
  margin-right: 20px;
}

.nav-left .logo {
  width: 160px;
  background: transparent;
}

.nav-middle .search-box {
  border: 1px  solid #ccc;
  margin-right: 15px;
  padding: 8px 15px;
  border-radius: 25px;
}

.nav-middle .search-box input{
    width: 300px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .flex-div img{
    width: 20px;
}

.nav-right img{
    width: 25px;
    margin-right: 25px;
}

.nav-right img:last-child{
    width: 35px;
    margin-right: 0;
    border-radius: 50%;
}

@media (max-width:900px) {
  .menu-icon{
    display: none;
  }
  .nav-right img{
    display: none;
  }
  .nav-right .user-icon{
    display: block;
    width: 30px;
  }
  .logo{
    width: 90px;
  }
  .nav-middle .search-box input{
    width: 100px;
  }
}








