
.sidebar{
    background: #fff;
    width: 190px;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 110px;
}

.shortcut-links img{
    width: 20px;
    margin-right: 20px;
}

.side-links{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}

.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}

.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}

.side-links span{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.subscribed-list img{
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-sidebar{
    width: 5%;
}

.small-sidebar span{
    display: none;
}

.small-sidebar h3{
    display: none;
}

.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}

.side-links.active img{
    padding-bottom: 2px;
    border-bottom: 3px solid #1C4384;
}

@media (max-width:900px) {
    .sidebar{
        display: none;
    }
    
}