.recommented{
    flex-basis: 30%;
}

.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img{
    flex-basis: 49%;
    width: 50%;
}

.vid-info{
    flex-basis: 49%;
}

.vid-info h4{
    margin-top: 2%;
    font-weight: 600;
    font-size: 14px;
}

.vid-info p{
    color: #555;
    font-weight: 600;
    font-size: 12px;
}

@media (max-width:900px) {
    .recommented{
        flex-basis: 100%;
    }
    
}


